*{
    color:black;
}

/************************ FICHIER MARKDOWN-INPUT************************* */
/* STYLE DE LA DIV QUI REGROUPE LE TEXTAREA */
.div-return{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* STYLE POUR LE RESET  */
.div-reset{
    display: flex;
    justify-content: center;
    margin-top: 30px;
      gap: 10px;
}

/*  BTN RESET */
.btn-reset{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;

}

/* ************************* MARKDOWN PREVIEW + INPUT */

.view-return{
    background-color: white;
    width:45vw;
    height:70vh;

     padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* resize: none;  */
    /* overflow-y: auto; */
}


