/* RESET */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* COULEUR DE FOND */
body{
  background-color: black;
}

/* TITRE PRINCIPALE DE LA PAGE  */
.title{
  color:white;
  text-align: center;
  margin-top: 15px;
}